* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box-percent {
    position: absolute;
    width: 95%;
    height: 45%;
    bottom: -5px;
    display: flex;
    justify-content: end;
    overflow: hidden;
    background-color: transparent;
}

.conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid transparent;
    width: 90px;
    height: 90px;
}

.svg {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: solid transparent;
    border-radius: 50%;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner .card .percent svg circle {
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 3;
    stroke-dasharray: 189;
    stroke-dashoffset: 189;
    transform: translate(1px, 4.1px);
}

.conteiner .card .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 0.01s;
    transition: stroke-dashoffset 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 1;
    /* animation: fadeIn 1s linear forwards;
    animation-delay: 1.5s; */
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translate(2px, -1px);
}

span {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.6em;
    color: #fff;
}

.number p {
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    transform: translate(1px, 0px);
}