* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box-percent {
    position: absolute;
    width: 95%;
    height: 45%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    background-color: transparent;
}

.conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid transparent;
    width: 90px;
    height: 90px;
}

.svg {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: solid transparent;
    border-radius: 50%;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(275deg);
}

.conteiner .card .percent svg circle {
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(1px, 4.1px);
}

.conteiner .card .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 185;
    stroke-dashoffset: calc(185 - (185 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot {
    border-radius: 50%;
    border: solid transparent;
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /* 360deg / 100 = 3.6 */
    animation: animatedDot 2s linear forwards;
}

@keyframes animatedDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 42%;
    transform: translateX(50%);
    width: 3.5px;
    height: 10px;
    border: 30%;
    background: var(--clr);
    box-shadow: 0 0 1px var(--clr), 0 0 5px var(--clr);
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border: solid transparent;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translate(2px, -1px);
}

.number h2 span {
    font-weight: 300;
    font-size: 0.6em;
    color: #fff;
}

.number p {
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    transform: translate(2px, 0px);
}